body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(maali.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-light {background-color: black}

h1 {font-size: 2em;
	color: #6b7cd2; }
.btn-dark:hover {transition: 1s;
transform: (1.3);
margin: 5px}

.shit {
	height: 10rem
}

.btn {
	font-weight: 600;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-secondary {
background-color: orange;
border-color: orange;

}

.btn-secondary:hover {
	background-color: orange;
	border-color: orange;
	border-width: 4px;
}

.btn-etusivu {
	padding: 1rem 2rem;
}

hr {border-color: orange;
	border-width: 3px;
max-width: 200px;}

.kaannos1 {
	margin: 10px;
	margin-bottom: 50px
}

.kaannos2 {
	margin: 10px;
	margin-bottom: 50px;
}

.kaannos2:hover {
	transition: 1s;
	transform: scale(1.3)
}


.ilmasta {margin: 10px;
margin-bottom: 50px;
text-align: center;}
.maasta {margin: 10px;
margin-bottom: 50px;
text-align: center;}

.kaannos1:hover {
	transition: 1s;
	transform: scale(1.3);
}


.maasta:hover {
	transition: 1s;
	transform: scale(1.3);
}

.ilmasta:hover {
	transition: 1s;
	transform: scale(1.3)
}

h1 {margin-top: 30px;
margin-bottom:50px;}

.nav-item:hover {
	transition: 1s;
	transform: scale(1.3);
}
